tqdm==4.38.0
urllib3==1.25.4
importlib-metadata==3.2.0
six==1.13.0
ipdb>=0.12.2
numpy>=1.16.4
pytorch-transformers==1.2.0
scikit-image==0.16.2
scikit-learn==0.21.3
scipy==1.6.2
cython==0.29.13
sentencepiece==0.1.94
spacy==3.0.5
multiprocess==0.70.11.1
ray==1.2.0
opencv-python==4.5.1.48